* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(background-picture.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
nav {
  display: flex;
}
.logo {
  color: rgba(255, 149, 0, 0.805);
  font-size: 40px;
  font-family: cursive;
  float: left;
  padding-top: 0.6%;
  cursor: pointer;
  margin-left: 40px;
}
.menu {
  box-sizing: border-box;
}
ul {
  float: left;
  display: flex;
  padding-top: 45px;
  margin-left: 20%;
}
ul li {
  list-style: none;
  margin-left: 80px;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.3s ease;
}
ul li a:hover {
  color: orange;
  background-image: linear-gradient(white, gray);
  padding: 5px 10px;
  border-radius: 20px;
}
.src-bar {
  background-color: aliceblue;
  width: 300px;
  height: 45px;
  display: flex;
  margin-top: 33px;
  margin-left: 500px;
  border-radius: 15px;
  padding: 8px;
  box-sizing: border-box;
}
.src-bar .src-box {
  width: 220px;
  padding: 0 6px;
}
.src-btn {
  text-decoration: none;
  background: white;
  color: black;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.src-box {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: black;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.6px;
  font-weight: bold;
}
.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h2 {
  cursor: pointer;
  font-family: cursive;
  color: white;
  font-size: 90px;
}
.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn a {
  color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 15px;
  transition: 0.3s ease;
  margin-left: 5px;
}
.btn a:hover {
  background: white;
  color: black;
  padding: 10px 20px;
}
